*{
    background: #F8F9FF;
    margin: 10px 20px;
    /* width: 1920px; */
    
}

/* navigation */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sections{
    display: inline-flex;
    /* padding: 0.625rem; */
justify-content: center;
align-items: center;
gap: 0.3rem;
color: #323232;
font-family: Poppins;
font-size: 24px;
}

button{
    display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #4348BD;
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-weight: 500;
border-color: white;
}

/* Hero section */

.imgs{
    max-width: 100%;
}
.hero-section{
    display: flex;
    align-self: stretch;
    color: #000;
}
.h1{
    align-self: stretch;
    font-family: Poppins;
font-size: 4rem;
font-style: regular;
font-weight: 400;
line-height: 4.6875rem; /* 117.188% */
}
.cbe{
    background: linear-gradient(90deg, #5E94FF  1.88%, #8123DF 57.56%, #DD3ED6 73.69%, #0FF 94.16%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Poppins;
font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: 4.6875rem;
}

.h2{
    color: #6D6D6D;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 2.415rem; /* 161% */
letter-spacing: 0.075rem;
}
.buttons{
    display: flex;
align-items: flex-start;
gap: 0.625rem;
align-self: stretch;
}
.secondary{
    color: black;
    background-color: transparent;
    box-shadow: none;
}
.hero-text{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 2.25rem;
flex: 1 0 0;
}